{% extends "./plantilla.html"%}
{% block contenido %}

<div id="carouselExample" class="carousel slide m-3">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://static.vecteezy.com/system/resources/previews/013/132/888/non_2x/summer-camp-with-tent-with-sleeping-woman-free-vector.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://thumbs.dreamstime.com/b/fondo-de-caricatura-del-paisaje-monta%C3%B1a-nieve-invierno-vectorial-dibujos-animados-horizonte-viaje-vista-desde-la-colina-en-el-278155625.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://static.vecteezy.com/system/resources/previews/013/132/888/non_2x/summer-camp-with-tent-with-sleeping-woman-free-vector.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

{% endblock %}